@import 'variables';
@import 'mixins';

/* ===============================
    GLOBAL STYLES
   =============================== */

img {
  max-width: 100%;
}


// MISCELLANEOUS

.browser-warning {
  background: #BD3535;
  color: #fff;
  padding: 0.5em 0;
  text-align: center;

   a {
    color: #fff;
    text-decoration: underline;
  }
}

#blog-admin{
    margin-left: 60px;
    width: 100%;
    height: 100%;
    padding-top:50px;
    padding-bottom:0;
    background:#8cc27f;
}